<%- include("partials/header") -%>
  <h1> About </h1>
  <p><%= aboutContent %></p>
<%- include("partials/footer") -%>
</div>

  <div class="container">
  <table cellspacing="20">
    <tr>

      <td> <img src="image/yul_circle-cropped.png" alt="Yul profile pic"> </td>
      <td>
        <h1> Yul Kang </h1>
        <p><em>Computer Science student in <strong> <a href="https://www.uwb.edu/">UWB</a> </strong></em></p>
        <p>I am a software developer. I love watching & playing soccer, baseball, and basketball.</p>
      </td>

    </tr>
  </table>
  <hr>
  </div>


  <div class="container">
  <h3>Education</h3>
  <ul>
    <li> Hana Academy Seoul (2019.3 ~ 2019.8)</li>
    <li> Cascadia Colle ge (2019.8 ~ 2021.4)</li>
    <li> University of Washington Bothell CSSE (2021.9 ~ )</li>
  </ul>
  </div>

  <div class="container">
  <hr>
  <h3> Skills </h3>

  <table cellspacing="10">
    <tr>
      <td>C++ </td>
      <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>Web Development</td>
      <td>⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>⭐️⭐️</td>
    </tr>
    <tr>
      <td>Running</td>
      <td>⭐️⭐️⭐️</td>
    </tr>
  </table>
